/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
html, body {
	/* height: 2000px;
	width: 1000px; */
	
}

body {
	/* max-width: 700px; */
	/* margin: 20px auto; */
	
}
/* @media (max-width: 600px) {
	.site-header {
		flex-wrap: wrap;
	  }
	  .site-nav {
		
		background: #333;
		
	  }
} */



/*=====Day 2 =====*/
.site-header {
	background-color: white;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 960px;
	padding: 0px;

}

.site-nav {
	order: 0;
	width: 100%;
	margin: 0px 60px 0px 0px;
}
.site-nav ul.nav {
		list-style-type: none;
		display: flex;
		margin: 0;	
		padding:0;
		justify-content: space-between;
}


.site-nav a{
	text-decoration: none;
	color:#B0B5C2;
	padding: 1px;
	display: inline-block;
}


.logo {
	margin-left: auto;
	padding: 10px;
}

.content {
	width: 960px;
}

.header-section {
margin: 20px 10px;
padding: 0px;
display: flex;
align-items: center;
}

.header-section-h1 {
		text-align: left;
	  width: 100%;
}
.header-h1{
	font-size: 30px;
}
.services-img-con {
	display: inline-block;
    margin: 57px 0px 0px 0px;
    text-align: center;	
    width:100%;		
}
.services-img {
	width:100%;
    height: auto;
} 

.top-sec-container {
	margin: 10px 60px;
	display: flex;
	align-items: center;
	width: 90%;
text-align: center;	
}

.top-section {

	border-top: 1px solid black;
	text-align: center;
	display: flex;
}

.mid-text {

margin: 20px;
text-align: left;

}


.main-body {

}

.flexbox {
  display: flex;
	flex-wrap: wrap;
	border-top: 1px solid black;
	padding:10px 0px;
	margin:10px;
	justify-content: space-between;
}
.flexbox div {
		height: 100%;
		width: 450px;
    margin: 15px 0px;
		background:#F4F3F4;
		border: 1px solid black;
		padding: 10px;
		/* align-self: auto */
}

.fb-border {
	border-top: 2px solid black;

}
.flexbox div.facts {
	height: 100%;
	/* width: auto; */
	margin: 15px 0px;
	background:white;
	border:0px;
	padding: 10px 0px;

 }
		
.box-head {
	padding: 10px;
	margin: 0px;
	text-transform: uppercase;
}
.paragraphs {
	padding: 10px;
	margin: 0px;

}

.button {
	background-color: white;
	border: 1px solid black;
	border-radius: 8px;
	padding: 7px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	font-size: 12px;
	font-family: 'Titillium Web', sans-serif;
}

.flexbox div.bull-con	 {
	background: white;
	border: 0px;
	width: 100%;
	margin: 20px;
	padding:0px;
}

ul.bullets {
	display:flex;
	flex-direction: column;
  flex-wrap: wrap;
	list-style-type: square;
	margin: 0;	
	padding:0;
	justify-content: space-between;
	line-height: 1.5;
}
.copyright {
  padding: 20px 0;
   text-align: center;
} 

/* .flexbox  > div:nth-child(4n) {
      width: 213px;
    }
.flexbox  > div:nth-child(4n+1) {
      width: 63px;
    }
.flexbox  > div:nth-child(4n+2) {
      width: 166px;
    }
.flexbox  > div:nth-child(4n+3) {
      width: 191px;
    } */
  
